* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

/* GENEREAL STYLES & UTILITY CLASSES*/

/* color */

:root {
  --main-color: #FF3D3B;
}


body {
  font-size: 16px;
  font-family: arial;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  background: none;
  border: none;
  height: 2em;
  padding: 1em;
}

img {
  height: 100%;
}


.alert-shown {
  opacity: 1;
  transition: all 250ms linear;
}

.alert-hidden {
  opacity: 0;
  transition: all 250ms linear;
}


.button {
  line-height: 2.5em;
  text-align: center;
  width: 240px;
  height: 40px;
  color: var(--main-color);
  background: white;
  border: 1px solid var(--main-color);
  border-radius: 2px;
  cursor: pointer;
}


.button:hover {
  line-height: 2.5em;
  text-align: center;
  width: 240px;
  height: 40px;
  color: white;
  background: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 2px;
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.secondary-color {
  color: gray;
}

.main-color {
  color: var(--main-color);
}

/* .hover-main:hover {
  color: #FF3D3B;
} */

.float-left {
  float: left;
  vertical-align: bottom;
}

.float-right {
  float: right;
  vertical-align: bottom;
}

.float-clear {
  clear: both;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bolder;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.border {
  border: 1px solid black;
}

.cursor-pointer {
  cursor: pointer;
}

.d-center-flex {
  display: flex;
  justify-content: center;
}

.d-around-flex {
  display: flex;
  justify-content: space-around;
}

.d-inline {
  display: inline-block;
}

/* SPACING */

/* paddings */

.pr-05 {
  padding-right: .5em;
}

.pr-1 {
  padding-right: 1em;
}

.pl-1 {
  padding-left: 1em;
}

.pt-1 {
  padding-top: 1em;
}

.pt-2 {
  padding-top: 2em;
}

.ptb-05{
  padding-top: .5em;
  padding-bottom: .5em;
}

.ptb-1{
  padding-top: 1em;
  padding-bottom: 1em;
}

.ptb-2{
  padding-top: 2em;
  padding-bottom: 2em;
}

.prl-1{
  padding-right: 1em;
  padding-left: 1em;
}

.prl-4{
  padding-right: 4em;
  padding-left: 4em;
}

.pr-2{
  padding-right: 2em;
}

.pb-05{
  padding-bottom: 1em;
}

.pb-1{
  padding-bottom: 1em;
}

.pb-2{
  padding-bottom: 2em;
}

.pb-3{
  padding-bottom: 3em;
}

.pb-4{
  padding-bottom: 4em;
}


/* margins */
.mr-05 {
  margin-right: .5em;
}

/* fonts */
.h1 {
  font-size: 2.8em;
}

.h2 {
  font-size: 2em;  
}

.h3 {
  font-size: 1.8em;  
}

.h4 {
  font-size: 1.4em;
}

.h5 {
  font-size: 1em;
}


/* -------------------------------- */

/* HEADER */
.icon {
  box-sizing: content-box;
  padding-left: 1em;
  padding-right: 1em;
}

.icon-alert:hover{
  color: var(--main-color);
}


.promo-lang-header {
  display: flex;
  background: #4A4A4A;
  color: white;
  font-size: 12px;
}

.promo {
  margin-left: auto;
  margin-right: auto
}

.logo {
  font-size: 4em;
  font-weight: bolder;
}

.main-navigation {
  display:flex;
  justify-content: space-between;
  align-items: center;
  height: 14vh;
  border-bottom: 1px solid rgba(128, 128, 128, 0.459);
}

.search {
  padding: .2em;
  border: 1px solid #4A4A4A;
  border-radius: 4px;
}

.wish-list-heart {
  position: relative;
}

.wish-list-quantity {
  position: absolute;
  left: 47%;
  top: 29%;
  color: white;
  font-size: 8px;
  font-weight: bolder;
}

.cart-list-quantity {
  position: absolute;
  right: 70px;
  font-size: 8px;
  font-weight: bolder;
}



/* MAIN */
.top-banner {
  position: relative;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 69%;
  background-image: url('https://i.pinimg.com/originals/bf/d1/99/bfd199c3c37e06da541a70730907949b.jpg')
  /* background-image: url('https://d28m5bx785ox17.cloudfront.net/v1/img/6x6vjShdeAgtStfh-sXPeeUn9bIHWBwpe3GBuncpV1k=/d/l') */
}

.top-banner-txt {
  position: absolute;
  width: 16%;
  background: rgba(250, 223, 166, 0.342);
  right: 10%;
}

/* PRODUCT LIST */

.prod-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 4em;
  padding: 2em 8em 2em 8em;
}

/* PRODUCT ITEM */

/* .prod-item {
  position: relative;
  width: 30%;
} */

.prod-item-button {
  /* display: none;
  position: absolute; */
  line-height: 2.5em;
  text-align: center;
  width: 100%;
  height: 40px;
  /* top: 50%;
  right: 0;
  left: 0; */
  /* margin-left: auto;
  margin-right: auto; */
  color: var(--main-color);
  background: white;
  border: 1px solid var(--main-color);
  border-radius: 2px;
}
.prod-item-button:hover {
  background: var(--main-color);
  color: white;
}

.prod-item-img {
  height: 260px;
  /* position: relative; */
  border: 1px solid lightgray;
  text-align: center;
}


/* FOOTER */

/* footer {

} */

footer {
  margin-top: 8em;
}

.footer-main li {
  padding-bottom: 0.5em;
}

.footer-main h3 {
  padding-bottom: 1em;
}

.footer-newsletter {
  display: flex;
  justify-content: center;
  padding: 2em 5em 2em 5em;
  background: #222222;
  color: white;
}

.footer-main {
  
  display: flex;
  justify-content: space-around;
  padding: 1em 5em 2em 5em;
  color: white;
  background: #4A4A4A;
}

.social-media-icons a {
  padding-right: 1.2em;
  color: white;
}

.footer-copyright {
  text-align: center;
  background: #4A4A4A;
  color: white;
  padding-bottom: 1em;
}




/* PRODUCT VIEW PAGE */

.product-view {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 4em 5em 2em 5em;
}

.product-view-img {
  text-align: end;
  
}

.product-view-img img {
  width:100%;
  
}


.product-view-info input {
  width: 40px;
}

.product-view-info {
  text-align: center;
  padding: 2em 6em 0 6em;
}

.prod-view-button {
  width: 280px;
  height: 40px;
  color: white;
  background: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 2px;
}
.prod-view-button:hover {
  background: rgb(36, 30, 30);
  border: 1px solid rgb(36, 30, 30);
  color: white;
}

.more-info {
  padding: 2em 14em 0 14em;
  height: 380px;

}

.more-info-dropdowns {
  border-bottom: 1px solid gray;
  height: 4em;
  padding-top: 1em;
  padding-bottom: 1em;
}


/* SHOPPING CART */

.shopping-cart-item-img {
  width:140px;
}

.d-inline {
  display: inline-block;
}

.shopping-cart-item {
  display:flex;
}

.shopping-cart {
  display:flex;
  flex-direction: column;
}

.totalAmount {
  text-align: right;
}

.shopping-cart-items {
  max-height: 40vh;
  overflow-y: scroll;
  border: 1px solid rgba(128, 128, 128, 0.075);
}



/* ADMIN FORM */

.form-container {
  padding: 38px 10% 0 10%;
}

.admin-form {
  display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-auto-flow: row dense;
    grid-gap: .8em;
    background: #eee;
    padding: 1.2em;

}

.admin-form input,
.adming-form button {
  grid-column: 2;
  grid-row: auto;
  padding: 1em;
  border: 1px solid #d3d3d3;
  border-radius: 2px;
  background: white;
}

.adming-form button{
  grid-column: 2 / 4; 
 }


.admin-form textarea {
  border: 1px solid #d3d3d3;
  border-radius: 2px;
  background: white;
  /* min-height: calc(100% - 2em); */
  height: 80px;
  width: 100%;
  border: none;
  
}

.admin-form label {
  grid-column: 1;
    grid-row: auto;
    
}

.form-container img {
  width: 100px;
}


.comment-box {
  grid-column: 3;
  grid-row: span 3;
 }






.update-form input {
  border: 1px solid gray;
  display: block;
  background: white;
}



.search-results {
  width: 72%; 
  margin: 1em auto;
  border: 1px solid gray;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
}

.search-results-info {
  width: 90%;
  line-height: 50px;
  padding: 1px 0;
  padding-left: 14px;
}

.search-results img {
    float: right;
    width: 50px;
}

.dashboard-container {
  width: 72%;
  background: rgba(128, 128, 128, 0.082);
  margin: 0 auto;
  text-align: left;
  padding-bottom: 48px;
}

.container-btns {
  width: 72%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 14px;
}

.allProducts-btn {
  flex: 3; 
  padding-top: 0.3em;
}



/* Tooltip container */
.tooltip {
  position: relative;
  /* display: inline-block; */
}

/* Tooltip text */
.tooltip .tooltiptext {
  display: none;
  height: 20px;
  background-color: grey;
  color: #fff;
  text-align: center;
  padding: 5px 5px;
  border-radius: 4px;
  font-size: 0.8em;
  line-height: 0.8em;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  right: 60px;
  top: -14px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  display: block;
}

/* MODAL SEMANTIC */

.modal-position {
  position: absolute;
  right: 0; 
  width: 480px !important;
}

/* ADDRESS FORM */

.address-form {
  width: 50%;
}